<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="primitives">
  <xacro:property name="shape_name" value="Cylinder" /> 
  <xacro:property name="length" value="0.1477" /> 
  <xacro:property name="width" value="0.0418" /> 
  <xacro:property name="height" value="0.358" /> 
  <xacro:property name="radius" value="0.0684" /> 
  <xacro:property name="xyz" value="-0.1892 0.2577 0.07385" /> 
  <xacro:property name="rpy" value="0 0 0" /> 
  <xacro:property name="mass" value="10" /> 
  <xacro:property name="static" value="true" />
  <xacro:property name="mu" value="1.0" />
  <xacro:property name="mu2" value="1.0" />
  <xacro:property name="ef" value="false" />

  
  <xacro:include filename="$(find franka_description)/robots/utils.xacro" />

  <xacro:if value="${ef}"> 
    <joint name="${shape_name}_joint" type="fixed">
          <parent link="panda_link8"/>
          <child link="${shape_name}"/>
          <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
  </xacro:if>

  <xacro:if value="${shape_name == 'Box'}">
    <link name="Box"> 
      <inertial>
        <origin rpy="${rpy}" xyz="${xyz}" />
        <mass value="${mass}" />
        <xacro:cuboid_inertia_def height="${height}" length="${length}" mass="${mass}" width="${width}" />
      </inertial>
      <visual>
        <origin rpy="${rpy}" xyz="${xyz}" />
        <geometry>
          <box size="${length} ${width} ${height}" />
        </geometry>
      </visual>
      <collision>
        <origin rpy="${rpy}" xyz="${xyz}" />
        <geometry>
          <box size="${length} ${width} ${heigh.t}" />
        </geometry>
      </collision>
      <surface>
        <friction>
          <ode>
            <mu>"${mu}"</mu>
            <mu2>"${mu2}"</mu2>
          </ode>
        </friction>
      </surface>
    </link>
    
    <joint name="panda_tip_joint" type="fixed">
      <parent link="Box"/>
      <child link="panda_tip"/>
      <origin xyz="0 0 $(0.785398163397 - {length} / 2)" rpy="0 0 0"/>
    </joint>
    <link name="$panda_tip">
  </xacro:if> 

  <xacro:if value="${shape_name == 'Sphere'}">
    <link name="Sphere"> 
      <inertial>
        <origin rpy="${rpy}" xyz="${xyz}" />
        <mass value="${mass}" />
        <xacro:sphere_inertia_def mass="${mass}" radius="${radius}" />
      </inertial>
      <visual>
        <origin rpy="${rpy}" xyz="${xyz}" />
        <geometry>
          <sphere radius="${radius}" />
        </geometry>
      </visual>
      <collision>
        <origin rpy="${rpy}" xyz="${xyz}" />
        <geometry>
          <sphere radius="${radius}" />
        </geometry>
      </collision>
      <surface>
        <friction>
          <ode>
            <mu>"${mu}"</mu>
            <mu2>"${mu2}"</mu2>
          </ode>
        </friction>
      </surface>
    </link>
  
    <joint name="panda_tip_joint" type="fixed">
      <parent link="Sphere"/>
      <child link="panda_tip"/>
      <origin xyz="0 0 $(0.785398163397 - {radius})" rpy="0 0 0"/>
   </joint>
    <link name="$panda_tip">
  </xacro:if> 
  
  <xacro:if value="${shape_name == 'Cylinder'}">
    <link name="Cylinder"> 
      <inertial>
        <origin rpy="${rpy}" xyz="${xyz}" />
        <mass value="${mass}" />
        <xacro:cylinder_inertia_def length="${length}" mass="${mass}" radius="${radius}" />
      </inertial>
      <visual>
        <origin rpy="${rpy}" xyz="${xyz}" />
        <geometry>
          <cylinder length="${length}" radius="${radius}" />
        </geometry>
      </visual>
      <collision>
        <origin rpy="${rpy}" xyz="${xyz}" />
        <geometry>
          <cylinder length="${length}" radius="${radius}" />
        </geometry>
      </collision>
      <surface>
        <friction>
          <ode>
            <mu>"${mu}"</mu>
            <mu2>"${mu2}"</mu2>
          </ode>
        </friction>
      </surface>
    </link>

    <joint name="panda_tip_joint" type="fixed">
      <parent link="Cylinder"/>
      <child link="panda_tip"/>
      <origin xyz="0 0 $(0.785398163397 - {length} / 2)" rpy="0 0 0"/>
    </joint>
    <link name="$panda_tip">
  </xacro:if> 

  <gazebo>
    <static>${static}</static>
  </gazebo>
</robot>